/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-evergreen-mintybox, {
	margin-top: 2rem;
	margin-bottom: 2rem;
	margin-left: auto;
	margin-right: auto;
	width: 66.666667%;
	border-radius: 0.75rem;
	--tw-bg-opacity: 1;
	background-color: rgb(204 226 206 / var(--tw-bg-opacity));
	padding: 2rem;
	font-size: 1.25rem;
	line-height: 1.75rem;
	line-height: 1.625;
	letter-spacing: 0.025em;
	--tw-text-opacity: 1;
	color: rgb(4 12 28 / var(--tw-text-opacity));
}
